table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    transition: .5s;
}

.table-space:before, .table-tropic:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    border-radius: 5px;
}

.table-space:after, .table-tropic:after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -2;
    filter: blur(30px);
    border-radius: 5px;
}

.table-space:before, .table-space:after {
    background: linear-gradient(235deg, #772aff, #010615, #1DA1F2);
}

.table-tropic:before, .table-tropic:after {
    /*background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);*/
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

table thead tr{
    background: rgba(245,245,245,1);
    color: #000;
}

table thead tr td{
    text-align: center;
    padding: 10px 0;
    min-width: 156.14px;
    font-weight: bold;
}

table tbody tr{
    background: rgba(10,10,10,1);
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

table tbody tr:hover, table tbody tr:nth-child(odd):hover{
    transform: scale(1.01);
    background: rgba(80,80,80,1);
}

table tbody tr:nth-child(odd){
    background: rgba(40,40,40,1);
}

table tbody tr td{
    text-align: center;
    padding: 10px 40px;
    min-width: 156.14px;
    box-sizing: border-box;
}

table tbody tr td:nth-child(1){
    color: #1DA1F2;
    font-weight: bold;
}