.checkbox-wrapper{
    width: 250px;
    height: 70px;
    background: linear-gradient(to bottom right, rgba(0,0,0,.3), rgba(0,0,0,.7), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: #fff;
    margin: 5px;
}

.checkbox-label-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: .05em;
}

.checkbox-wrapper input, .checkbox-wrapper label{
    cursor: pointer;
}

.checkbox-wrapper span{
    font-weight: bold;
    color: #000;
    text-shadow:
            2px  2px 4px #fff,
            2px -2px 4px #fff,
            -2px  2px 4px #fff,
            -2px -2px 4px #fff;
}