.add-to-favorites-button{
    position: absolute;
    left: 21.1%;
    top: 60%;
    transform: translate(-50%, -50%);
    background: #1DA1F2;
    color: #fff;
    padding: 8px 12px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.add-to-favorites-button:hover{
    box-shadow: 3px 3px 15px #fff inset;
}

.remove-from-favorites-button{
    position: absolute;
    left: 22.5%;
    top: 60%;
    transform: translate(-50%, -50%);
    background: rgba(255,0,0,1);
    color: #fff;
    padding: 8px 12px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.remove-from-favorites-button:hover{
    box-shadow: 3px 3px 15px #fff inset;
}