.wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.05), rgba(0,0,0,.3));
}

.header{
  height: 8%;
  width: 100%;
  background: linear-gradient(to bottom right, rgba(0,0,0,.5), rgba(0,0,0,.7), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.header-home-favorites{
  height: 100%;
  width: 20%;
  color: lightgrey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-home-favorites div, .header-login{
  cursor: pointer;
  transition: .5s;
}

.header-home-favorites div:hover{
  text-shadow:
          1px  1px 1px #000,
          1px -1px 1px #000,
          -1px  1px 1px #000,
          -1px -1px 1px #000;
}

.teletrader{
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 1em;
}

.header-login{
  background: #1DA1F2;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
  transition: .3s;
}

.header-login:hover{
  box-shadow: 3px 3px 10px #fff inset;
}

.active{
  color: #1DA1F2;
  font-weight: bold;
}

.welcome-guest{
  width: 10%;
  margin: 0 5%;
  height: 80%;
  background: green;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-size: .9em;
}