.bg-color-red{
    background: rgba(255,0,0,1);
    color: #fff;
}

.bg-color-green{
    background: rgba(0,255,0,1);
    color: #fff;
}

.color-red{
    color: rgba(255,0,0,1);
    /*text-shadow:*/
            /*1px  1px 1px #000,*/
            /*1px -1px 1px #000,*/
            /*-1px  1px 1px #000,*/
            /*-1px -1px 1px #000;*/
    /*font-weight: bold;*/
}

.color-green{
    color: rgba(0,255,0,1);
    /*text-shadow:*/
    /*        1px  1px 1px #000,*/
    /*        1px -1px 1px #000,*/
    /*        -1px  1px 1px #000,*/
    /*        -1px -1px 1px #000;*/
    /*font-weight: bold;*/
}